<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>164202578941-7af8gei368tcsmel0bc17386s7sln9cl.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.164202578941-7af8gei368tcsmel0bc17386s7sln9cl</string>
	<key>API_KEY</key>
	<string>AIzaSyD0OFE4zwBeImJzSXEv9DCJBf_mTW_HKus</string>
	<key>GCM_SENDER_ID</key>
	<string>164202578941</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.prod.mapllo</string>
	<key>PROJECT_ID</key>
	<string>mapllo</string>
	<key>STORAGE_BUCKET</key>
	<string>mapllo.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:164202578941:ios:6a976ed7b9d875a00b4f94</string>
</dict>
</plist>